<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">

			<a class="brand" href=""><small><i class="icon-leaf"></i> {{site_name}}</small> </a>
			<ul class="nav">
				<li><a href="{{controller_base_url}}home">Home</a></li>
				<li><a href="{{controller_base_url}}features">Features</a></li>
				<li><a href="{{controller_base_url}}pricing">Pricing</a></li>
				<li><a href="{{controller_base_url}}about">About Us</a></li>
				<li><a href="{{controller_base_url}}contact">Contact Us</a></li>
			</ul>

		</div><!--/.container-fluid-->
	</div><!--/.navbar-inner-->
</div><!--/.navbar-->