<!DOCTYPE html>
<html lang={{meta_language}}>
	<head>
		<meta charset="{{charset}}" />
		<title>{{title_prefix}}{{page_title}}{{title_suffix}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<base href="{{base_url}}"/>
		<meta name="keywords" content="{{meta_keywords}}" />
		<meta name="description" content="{{meta_description)}}" />
		<meta name="copyright" content="{{meta_copyright}}" />
		{{&headglobalscripts}}
		{{&globalstyles}}
		<!--[if IE 7]>
		  <link rel="stylesheet" href="css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->
		{{&pagestyles}}
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
		<!-- ace styles -->
		{{&theme_css}}
		<!--[if lt IE 9]>
		  <link rel="stylesheet" href="css/ace-ie.min.css" />
		<![endif]-->

		<!--[if lt IE 9]>
			<script src="{{template_path}}js/html5shiv.js"></script>
		<![endif]-->
		{{#if comment}}
		<!--<link type="text/css" rel="stylesheet" href="{{template_path}}css/print.csss" media="print" />-->
		{{/if}}
		{{#render_script js/head-scripts.js}}
	</head>
	<body><!--<div class="slide-main">
  <button class="btn-info">Button</button>
  <div class="slide-container">paste your main content code here</div>
</div>-->
		{{>header}}
		<div class="container-fluid main-container">
			<a href="#" class="menu-toggler" id="menu-toggler"><span class="menu-text"></span></a><!-- menu toggler -->
			<div id="sidebar" class="sidebar">
				{{>blocks/sidebar}}
			</div>
			<div class="main-content">
				{{>blocks/breadcrumbs}}
				<div class="page-content">
					<div class="page-header position-relative">
					<h1>&nbsp;{{#if page_info}}
						<small class="hidden-phone">
						<i class="icon-double-angle-right"></i> {{page_info}}</small>
					   {{/if}}
					</h1>
					</div>
					{{>blocks/message}}
					<div class="row-fluid">
						{{>content}}
						{{#if comment}}{{>blocks/pagination}}{{/if}}
					 </div>
				</div>
				<div class="ace-settings-container" id="ace-settings-container">
					<div class="btn btn-app btn-mini btn-warning ace-settings-btn" id="ace-settings-btn">
						<i class="icon-group"></i><span id="online-users-count" class="badge badge-info badge-right">0</span>
					</div>
					<div id="ace-settings-box" class="ace-settings-box chat-list-box">
						<div id="chat-list-holder">
							<ul class="chat-list">
								{{#each userlist}}
									{{>contentblocks/online-users-box-item}}
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
				{{#profile_stats}}
			</div>
		</div>
		<div id="ajax-modal" class="modal hide fade" tabindex="-1" data-width="760"></div>
		<div id="ajax-child-modal" class="modal hide fade" tabindex="-1" data-width="760"></div>
		<div id="ajax-baby-modal" class="modal hide fade" tabindex="-1" data-width="500"></div>
		<div id="confirm-modal" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
			<div class="modal-header"><h3>Confirm action!</h3></div>
			<div class="modal-body">
				<p id="confirm-message"></p>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-small">Cancel</button>
				<button type="button" data-dismiss="modal" class="btn btn-small btn-primary btn-confirm">Confirm</button>
			</div>
		</div>
		<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
			<i class="icon-double-angle-up icon-only"></i>
		</a>

		{{&globalscripts}}
		{{&pagescripts}}
		{{#if comment}}
		<!--<script type="text/javascript" src="js/jquery-ui-1.10.2.custom.min.js"></script>

		<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>

		<script type="text/javascript" src="js/fullcalendar.min.js"></script>

		<script type="text/javascript" src="js/bootbox.min.js"></script>-->


		<!-- ace scripts -->
		<!--<script src="js/ace-elements.min.js"></script>
		<script src="js/ace.min.js"></script>-->


		<!-- inline scripts related to this page -->
		{{/if}}

		<div id="pusherChat">
			<div id="templateChatBox">
			<div class="ChatBoxContainer">
				<div class="widget-header widget-header-small header-color-blue2">
					<h4 class="lighter smaller"><i class="icon-comment green"></i><span class="userName"></span></h4>
					<div class="widget-toolbar">
						<a id="min-{{username}}" data-action="collapse" class="expandBox" href="javascript:void(0)"><i class="icon-chevron-down"></i></a>
						<a data-action="close" class="closeBox" href="javascript:void(0)"><i class="icon-remove"></i></a>
					</div>
				</div>

				<div class="widget-body">
					<div class="widget-main no-padding">
						<div class="dialogs">
							<div class="chat-loader" style="margin-left: 30px">
								<i class="icon-spinner icon-large icon-spin orange bigger-125"></i>
								<small>Loading previous messages</small>
							</div>
						</div>
						<div class="offline" style="display:none">
							<p class="muted center">
								<small><span id="chat-username">{{username}}</span> isn't online right now.Your messages will be seen later</small>
							</p>
						</div>
						<form class="chat-form">
							<div class="form-actions input-append">
								<textarea id="message-{{id}}" data-user="{{username}}" placeholder="Type your message here ..." type="text" name="message"> </textarea>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>
			
		</div>
	</body>
</html>
