<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>{{#if addform}}New{{else}}Edit{{/if}} Client</h3>
</div>
<div class="modal-body">
	<div class="row-fluid">
		{{>../blocks/message}}
			{{#with content_data}}
				<form action="{{../ajax_save_url}}" method="post" class="form-horizontal" enctype="multipart/form-data" id="modal-form{{#if ../addform}}-add{{/if}}">
				<div class="row-fluid">
					<div class="span6">
						<p class="fieldset-title">Client infomation</p>
						<div class="control-group {{#key_in_array ../errors "client_name"}}error{{/key_in_array}}">
							<label class="control-label" for="client_name">Client Name</label>
							<div class="controls">
								<input type="text" id="client_name" name="client_name" value="{{client_name}}">
								<span class="help-inline error">{{#get_first_error ../errors "client_name"}}</span>
								<input type="hidden" value="{{client_id}}" name="id" />
							</div>
						</div>
						<div class="control-group {{#key_in_array ../errors "client_name"}}error{{/key_in_array}}">
							<label class="control-label" for="client_contact_person">Contact person</label>
							<div class="controls">
								<input type="text" id="client_name" name="client_contact_person" value="{{client_contact_person}}">
								<span class="help-inline error">{{#get_first_error ../errors "client_contact_person"}}</span>
							</div>
						</div>
						<div class="control-group {{#key_in_array ../errors "client_telephone"}}error{{/key_in_array}}">
							<label class="control-label" for="client_telephone">Contact Telephone</label>
							<div class="controls">
								<input type="text" id="client_telephone" name="client_telephone" value="{{client_telephone}}">
								<span class="help-inline error">{{#get_first_error ../errors "client_telephone"}}</span>
							</div>
						</div>
						<div class="control-group {{#key_in_array ../errors "client_email_address"}}error{{/key_in_array}}">
							<label class="control-label" for="client_email_address">Contact Email Address</label>
							<div class="controls">
								<input type="text" id="client_email_address" name="client_email_address" value="{{client_email_address}}">
								<span class="help-inline error">{{#get_first_error ../errors "client_email_address"}}</span>
							</div>
							</div>
						<div class="control-group {{#key_in_array ../errors "client_postal_address"}}error{{/key_in_array}}">
							<label class="control-label" for="client_postal_address">Contact Postal Address</label>
							<div class="controls">
								<textarea id="client_postal_address" name="client_postal_address" class="text-area-mini">{{client_postal_address }}
								</textarea>
								<span class="help-inline error">{{#get_first_error ../errors "client_postal_address"}}</span>
							</div>
						</div>
					</div>
				<div class="span4">
					<p class="fieldset-title">User information</p>
					<div class="control-group {{#key_in_array ../errors "username"}}error{{/key_in_array}}">
							<label class="control-label" for="username">Username</label>
							<div class="controls">
								<input type="text" id="username" name="username" value="{{user_info.username}}">
								<span class="help-inline error">{{#get_first_error ../errors "username"}}</span>
							</div>
						</div>
						<div class="control-group {{#key_in_array ../errors "password"}}error{{/key_in_array}}">
							<label class="control-label" for="password">Password</label>
							<div class="controls">
								<input {{#if user_info.password}} disabled='disabled'{{/if}} type="password" id="password" name="password" value="{{user_info.password}}">
								<span class="help-inline error">{{#get_first_error ../errors "password"}}</span>
							</div>
						</div>
						<div class="control-group ">
							<label class="control-label" for="user_type">User Type</label>
							<div class="controls">
								<select name="user_type">
									{{#each ../roles}}
									<option value="{{id}}" {{#equals_to id ../get_role}}selected="selected"{{/equals_to}}>{{name}}</option>
									{{/each}}
								</select>								
							</div>
						</div>
					<div class="control-group {{#key_in_array ../errors "avartar"}}error{{/key_in_array}}">
						<label class="control-label" for="client_postal_address">Clients Avatar</label>
						<div class="controls">
							{{#unless ../addform}}<img src="{{../path}}/{{avatar}}" height="100" width="100">
							<div style="margin-left:140px;">{{/unless}}
							<input type="file" name="client_avatar"  id="client_avatar">{{#unless ../addform}}</div>{{/unless}}
							<span class="help-inline error">{{#get_first_error ../errors "client_postal_address"}}</span>
						</div>
					</div>
					<input type="hidden" value="{{client_id}}" name="id" />
					<input type="hidden" value={{#if ../save_failed}}"0"{{/if}}{{#unless ../save_failed}}"1"{{/unless}} name="saved" />
					<input type="hidden" value={{#if ../added_record}}"1"{{/if}}{{#unless ../added_record}}"0"{{/unless}} name="new_row" />
				</div>
			</div>
				</form>
			{{/with}}
	</div>
</div>
<div class="modal-footer">
	<button type="button" data-dismiss="modal" class="btn btn-small">Close</button>
	<button type="button" data-dismiss="modal" class="btn btn-primary btn-small submit-form-client" {{#if added_record}}data-new-row="1"{{/if}} data-form="modal-form{{#if addform}}-add{{/if}}" data-row-data="">Save changes</button>
</div>