<div class="span12" style="margin-left:-2px;">
	<table class="table table-striped table-bordered table-hover table-condensed data-table">
		<thead>
			<tr>
				<th>Reports</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="{{component_base_url}}supplies/inventory_stock_levels" target="_blank">Inventory Stock Levels</a></td>
			</tr>
			<tr>
				<td><a href="{{component_base_url}}supplies/inventory_stock_by_category" target="_blank">Inventory Stock Levels by Category</a></td>
			</tr>
			<tr>
				<td><a href="{{component_base_url}}supplies/inventory_stock_by_location" target="_blank">Inventory Stock Levels by Location</a></td>
			</tr>
			<tr>
				<td><a href="{{component_base_url}}supplies/inventory_stock_by_supplier" target="_blank">Inventory Stock Levels by Supplier</a></td>
			</tr>
			<tr>
				<td><a href="{{component_base_url}}supplies/inventory_reorder" target="_blank">Inventory Stock To Reorder</a></td>
			</tr>
			<tr>
				<td><a href="{{component_base_url}}supplies/supplier_address_book" target="_blank">Supplier Address Book</a></td>
			</tr>
			<tr>
				<td><a href="{{component_base_url}}supplies/pull_sheets" target="_blank">Pull Sheet Summary</a></td>
			</tr>

		</tbody>
	</table>
</div>
